# Revenue

## 1. How many dirty Records from a column - This has to be 0

In [1]:
import snowflake.connector

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

cursor = conn.cursor()
table_query = f""" SELECT count(*) FROM (
	SELECT REVENUEDETAILS_REVENUE
	FROM {snowflake_database}.{snowflake_schema}.REVENUE_SAMPLE 
	WHERE TRY_CAST(REVENUEDETAILS_REVENUE AS NUMBER) IS NULL
)
WHERE REVENUEDETAILS_REVENUE IS NOT NULL   
and REVENUEDETAILS_REVENUE != '' """

cursor.execute(table_query)
result = cursor.fetchone()
print("Count:", result[0])

cursor.close()
conn.close()

Count: 23

## 2.No change require vs change require vs drop

In [154]:
import snowflake.connector

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

cursor = conn.cursor()
table_query = f""" SELECT 
	sum(CASE WHEN CHANGE_REQUIRED = 'no' THEN 1 ELSE 0 END)  AS no_change,
	sum(CASE WHEN CHANGE_REQUIRED = 'yes' AND TO_BE_CHANGED IS NOT null THEN 1 ELSE 0 END)  AS change_required,
	sum(CASE WHEN CHANGE_REQUIRED = 'no' AND TO_BE_CHANGED IS NOT NULL THEN 1 ELSE 0 END) AS drop_record
FROM (
	SELECT
		  REVENUEDETAILS_REVENUE, 
		  CASE WHEN TRY_CAST(REVENUEDETAILS_REVENUE AS NUMBER) IS NULL THEN 'yes' ELSE 'no' END AS change_required,
		  TRY_CAST(REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[^0-9.]', '') AS DECIMAL(18,04)) AS NumericPart,
		  CASE WHEN TRY_CAST(REVENUEDETAILS_REVENUE AS NUMBER) IS NULL THEN REVENUEDETAILS_REVENUE ELSE null END AS to_be_changed
		FROM SQL_TABLES.DATA.REVENUE_SAMPLE
) """

cursor.execute(table_query)
result = cursor.fetchall()

for row in result:
    print('no_change_required :',row[0], '\nchange_required :',row[1] , '\ndrop_record_or_no_numeric_part :',row[2])

cursor.close()
conn.close()

no_change_required : 7
change_required : 23
drop_record_or_no_numeric_part : 0

## how many samples distinct samples exists --then if else for simple or smart sample

In [435]:
import snowflake.connector
from tabulate import tabulate

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

cursor = conn.cursor()
table_query = f""" SELECT  count(DISTINCT  NONNUMERICPART) as NO_of_unique_samples
FROM (
	SELECT
	  REVENUEDETAILS_REVENUE,
	  REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[0-9.]', '') AS NonNumericPart,
	  CASE WHEN TRY_CAST(REVENUEDETAILS_REVENUE AS NUMBER) IS NULL THEN REVENUEDETAILS_REVENUE ELSE null END AS to_be_changed
	FROM SQL_TABLES.DATA.REVENUE_SAMPLE
) """

cursor.execute(table_query)
result = cursor.fetchall()


print(result)

cursor.close()
conn.close()

[(11,)]

## 3. Sample suggetions - normal

In [8]:
import snowflake.connector
from tabulate import tabulate

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

cursor = conn.cursor()
table_query = f""" SELECT  NONNUMERICPART as remove_this_part, REVENUEDETAILS_REVENUE as sample_records, NumericPart as after_conversion
FROM (
SELECT *
		,row_number() OVER (PARTITION BY NonNumericPart ORDER BY to_be_changed) AS sample_count_filter
		,row_number() OVER (PARTITION BY NonNumericPart,to_be_changed ORDER BY to_be_changed) AS unique_sample_count_filter
FROM (
	SELECT
	  REVENUEDETAILS_REVENUE,
	  CASE WHEN TRY_CAST(REVENUEDETAILS_REVENUE AS NUMBER) IS NULL THEN 'yes' ELSE 'no' END AS change_required,
	  TRY_CAST(REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[^0-9.]', '') AS DECIMAL(18,4)) AS NumericPart,
	  REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[0-9.]', '') AS NonNumericPart,
	  CASE WHEN TRY_CAST(REVENUEDETAILS_REVENUE AS NUMBER) IS NULL THEN REVENUEDETAILS_REVENUE ELSE null END AS to_be_changed
	FROM SQL_TABLES.DATA.REVENUE_SAMPLE
	)
)
WHERE TO_BE_CHANGED is NOT null and 
sample_count_filter <= 5 AND 
unique_sample_count_filter = 1 """

cursor.execute(table_query)
result = cursor.fetchall()


headers = ["remove_this_part", "sample_records", "after_conversion"]
print(tabulate(result, headers=headers, tablefmt="grid"))

cursor.close()
conn.close()

+--------------------+------------------+---------------+
| remove_this_part   | sample_records   |   NumericPart |
+====================+==================+===============+
| /N/                | /N/              |               |
+--------------------+------------------+---------------+
| abc                | abc              |               |
+--------------------+------------------+---------------+
| $                  | $222             |         222   |
+--------------------+------------------+---------------+
| rst                | 123rst12.12      |       12312.1 |
+--------------------+------------------+---------------+
| k                  | 5k               |           5   |
+--------------------+------------------+---------------+
| /NN/               | /NN/             |               |
+--------------------+------------------+---------------+
| $                  | $122             |         122   |
+--------------------+------------------+---------------+
| $                  | $211             |         211   |
+--------------------+------------------+---------------+
| $                  | $188             |         188   |
+--------------------+------------------+---------------+
| ($)                | ($6)             |           6   |
+--------------------+------------------+---------------+
| ($)                | ($444)           |         444   |
+--------------------+------------------+---------------+
| //n                | //n              |               |
+--------------------+------------------+---------------+
| $                  | $177             |         177   |
+--------------------+------------------+---------------+
| /n                 | /n               |               |
+--------------------+------------------+---------------+
| egf                | 432.17egf16.17   |               |
+--------------------+------------------+---------------+
| ($)                | ($2)             |           2   |
+--------------------+------------------+---------------+

## 4. Converting all to numeric by removing non-numeric string

In [117]:
import snowflake.connector
from tabulate import tabulate

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

cursor = conn.cursor()
table_query = f""" 
	SELECT
	  REVENUEDETAILS_REVENUE,
	  TRY_CAST(REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[^0-9.]', '') AS DECIMAL(18,4)) AS NumericPart
    FROM SQL_TABLES.DATA.REVENUE_SAMPLE
 """

cursor.execute(table_query)
result = cursor.fetchall()


headers = ["raw", "numeric_conversion"]
print(tabulate(result, headers=headers, tablefmt="grid"))

cursor.close()
conn.close()

+----------------+----------------------+
| raw            |   numeric_conversion |
+================+======================+
| 111.12345      |              111.124 |
+----------------+----------------------+
| $52            |               52     |
+----------------+----------------------+
| $188           |              188     |
+----------------+----------------------+
| $177           |              177     |
+----------------+----------------------+
| 432.17egf16.17 |                      |
+----------------+----------------------+
| ($2)           |                2     |
+----------------+----------------------+
| 123rst12.12    |            12312.1   |
+----------------+----------------------+
| /n             |                      |
+----------------+----------------------+
| /n             |                      |
+----------------+----------------------+
| $122           |              122     |
+----------------+----------------------+
| $211           |              211     |
+----------------+----------------------+
| /NN/           |                      |
+----------------+----------------------+
| /N/            |                      |
+----------------+----------------------+
| //n            |                      |
+----------------+----------------------+
| $666           |              666     |
+----------------+----------------------+
| ($2)           |                2     |
+----------------+----------------------+
| 5k             |                5     |
+----------------+----------------------+
| ($444)         |              444     |
+----------------+----------------------+
| $333           |              333     |
+----------------+----------------------+
| $222           |              222     |
+----------------+----------------------+
| /n             |                      |
+----------------+----------------------+
| 9.09           |                9.09  |
+----------------+----------------------+
| abc            |                      |
+----------------+----------------------+
| 7              |                7     |
+----------------+----------------------+
| ($6)           |                6     |
+----------------+----------------------+
| ($2)           |                2     |
+----------------+----------------------+
| 5              |                5     |
+----------------+----------------------+
| 4              |                4     |
+----------------+----------------------+
| 3              |                3     |
+----------------+----------------------+
| 2              |                2     |
+----------------+----------------------+

## 5. clean specific strings only

In [7]:
import snowflake.connector
from tabulate import tabulate

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

specific_string = "$"

cursor = conn.cursor()
table_query = f""" SELECT
  REVENUEDETAILS_REVENUE,
  REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[0-9.]', '') AS NonNumericPart,
  CASE WHEN REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[0-9.]', '') = '{specific_string}' 
       THEN CAST(TRY_CAST(REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[^0-9.]', '') AS DECIMAL(18,04)) AS VARCHAR)
       ELSE REVENUEDETAILS_REVENUE
  END AS sepcific_string_converted
FROM SQL_TABLES.DATA.REVENUE_SAMPLE"""

cursor.execute(table_query)
result = cursor.fetchall()


headers = ["raw_column", "NonNumericPart", "sepcific_string_converted"]
print(tabulate(result, headers=headers, tablefmt="grid"))

cursor.close()
conn.close()

## eg - just remove string having $ , others leave as it is

+----------------+------------------+-----------------------------+
| raw_column     | NonNumericPart   | sepcific_string_converted   |
+================+==================+=============================+
| 111.12345      |                  | 111.12345                   |
+----------------+------------------+-----------------------------+
| $52            | $                | 52.0000                     |
+----------------+------------------+-----------------------------+
| $188           | $                | 188.0000                    |
+----------------+------------------+-----------------------------+
| $177           | $                | 177.0000                    |
+----------------+------------------+-----------------------------+
| 432.17egf16.17 | egf              | 432.17egf16.17              |
+----------------+------------------+-----------------------------+
| ($2)           | ($)              | ($2)                        |
+----------------+------------------+-----------------------------+
| 123rst12.12    | rst              | 123rst12.12                 |
+----------------+------------------+-----------------------------+
| /n             | /n               | /n                          |
+----------------+------------------+-----------------------------+
| /n             | /n               | /n                          |
+----------------+------------------+-----------------------------+
| $122           | $                | 122.0000                    |
+----------------+------------------+-----------------------------+
| $211           | $                | 211.0000                    |
+----------------+------------------+-----------------------------+
| /NN/           | /NN/             | /NN/                        |
+----------------+------------------+-----------------------------+
| /N/            | /N/              | /N/                         |
+----------------+------------------+-----------------------------+
| //n            | //n              | //n                         |
+----------------+------------------+-----------------------------+
| $666           | $                | 666.0000                    |
+----------------+------------------+-----------------------------+
| ($2)           | ($)              | ($2)                        |
+----------------+------------------+-----------------------------+
| 5k             | k                | 5k                          |
+----------------+------------------+-----------------------------+
| ($444)         | ($)              | ($444)                      |
+----------------+------------------+-----------------------------+
| $333           | $                | 333.0000                    |
+----------------+------------------+-----------------------------+
| $222           | $                | 222.0000                    |
+----------------+------------------+-----------------------------+
| /n             | /n               | /n                          |
+----------------+------------------+-----------------------------+
| 9.09           |                  | 9.09                        |
+----------------+------------------+-----------------------------+
| abc            | abc              | abc                         |
+----------------+------------------+-----------------------------+
| 7              |                  | 7                           |
+----------------+------------------+-----------------------------+
| ($6)           | ($)              | ($6)                        |
+----------------+------------------+-----------------------------+
| ($2)           | ($)              | ($2)                        |
+----------------+------------------+-----------------------------+
| 5              |                  | 5                           |
+----------------+------------------+-----------------------------+
| 4              |                  | 4                           |
+----------------+------------------+-----------------------------+
| 3              |                  | 3                           |
+----------------+------------------+-----------------------------+
| 2              |                  | 2                           |
+----------------+------------------+-----------------------------+

## 6. clean everything expect specific strings

In [267]:
import snowflake.connector
from tabulate import tabulate

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

specific_string = "$"

cursor = conn.cursor()
table_query = f""" SELECT
  REVENUEDETAILS_REVENUE,
  REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[0-9.]', '') AS NonNumericPart,
  CASE WHEN REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[0-9.]', '') != '{specific_string}' 
       THEN CAST(TRY_CAST(REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[^0-9.]', '') AS DECIMAL(18,04)) AS VARCHAR)
       ELSE REVENUEDETAILS_REVENUE
  END AS sepcific_string_converted
FROM SQL_TABLES.DATA.REVENUE_SAMPLE"""

cursor.execute(table_query)
result = cursor.fetchall()


headers = ["raw_column", "NonNumericPart", "sepcific_string_converted"]
print(tabulate(result, headers=headers, tablefmt="grid"))

cursor.close()
conn.close()

## eg - just remove string having $ , others leave as it is

+----------------+------------------+-----------------------------+
| raw_column     | NonNumericPart   | sepcific_string_converted   |
+================+==================+=============================+
| 111.12345      |                  | 111.1235                    |
+----------------+------------------+-----------------------------+
| $52            | $                | $52                         |
+----------------+------------------+-----------------------------+
| $188           | $                | $188                        |
+----------------+------------------+-----------------------------+
| $177           | $                | $177                        |
+----------------+------------------+-----------------------------+
| 432.17egf16.17 | egf              |                             |
+----------------+------------------+-----------------------------+
| ($2)           | ($)              | 2.0000                      |
+----------------+------------------+-----------------------------+
| 123rst12.12    | rst              | 12312.1200                  |
+----------------+------------------+-----------------------------+
| /n             | /n               |                             |
+----------------+------------------+-----------------------------+
| /n             | /n               |                             |
+----------------+------------------+-----------------------------+
| $122           | $                | $122                        |
+----------------+------------------+-----------------------------+
| $211           | $                | $211                        |
+----------------+------------------+-----------------------------+
| /NN/           | /NN/             |                             |
+----------------+------------------+-----------------------------+
| /N/            | /N/              |                             |
+----------------+------------------+-----------------------------+
| //n            | //n              |                             |
+----------------+------------------+-----------------------------+
| $666           | $                | $666                        |
+----------------+------------------+-----------------------------+
| ($2)           | ($)              | 2.0000                      |
+----------------+------------------+-----------------------------+
| 5k             | k                | 5.0000                      |
+----------------+------------------+-----------------------------+
| ($444)         | ($)              | 444.0000                    |
+----------------+------------------+-----------------------------+
| $333           | $                | $333                        |
+----------------+------------------+-----------------------------+
| $222           | $                | $222                        |
+----------------+------------------+-----------------------------+
| /n             | /n               |                             |
+----------------+------------------+-----------------------------+
| 9.09           |                  | 9.0900                      |
+----------------+------------------+-----------------------------+
| abc            | abc              |                             |
+----------------+------------------+-----------------------------+
| 7              |                  | 7.0000                      |
+----------------+------------------+-----------------------------+
| ($6)           | ($)              | 6.0000                      |
+----------------+------------------+-----------------------------+
| ($2)           | ($)              | 2.0000                      |
+----------------+------------------+-----------------------------+
| 5              |                  | 5.0000                      |
+----------------+------------------+-----------------------------+
| k4             | k                | 4.0000                      |
+----------------+------------------+-----------------------------+
| 3              |                  | 3.0000                      |
+----------------+------------------+-----------------------------+
| 2              |                  | 2.0000                      |
+----------------+------------------+-----------------------------+

## 7 sepcial conversions

### 7.1 check if it contains k & () -- if < 1 then give below suggetion

In [160]:
import snowflake.connector

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

cursor = conn.cursor()
table_query = f""" SELECT 
	sum(contains_k) AS contains_k,
	sum(negetive_billing) AS negetive_billing
FROM (
	SELECT
		  REVENUEDETAILS_REVENUE
		,CASE 
			WHEN TRY_CAST(REVENUEDETAILS_REVENUE AS NUMBER) IS NULL AND 
				REVENUEDETAILS_REVENUE LIKE '%k' AND 
				LENGTH(REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[0-9.]', '')) = 1 
			THEN 1 
			ELSE NULL 
		END AS contains_k
		,CASE 
    		WHEN REVENUEDETAILS_REVENUE LIKE '(%' AND REVENUEDETAILS_REVENUE LIKE '%)' THEN 1 
    		ELSE NULL 
    	END AS negetive_billing
		FROM SQL_TABLES.DATA.REVENUE_SAMPLE
 )     """

cursor.execute(table_query)
result = cursor.fetchall()

for row in result:
    print( '\ncontains_k :',row[0], '\nnegetive_billing :',row[1])

cursor.close()
conn.close()

contains_k : 1
negetive_billing : 5

### 7.2. sepcial conversions like 5k to 5000

In [14]:
import snowflake.connector
from tabulate import tabulate

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

specific_string = ""
convert_to = "000"

cursor = conn.cursor()
table_query = f""" SELECT
  REVENUEDETAILS_REVENUE,
  REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[0-9.]', '') AS NonNumericPart,
  REPLACE(REVENUEDETAILS_REVENUE, '{specific_string}', '{convert_to}') AS sepcific_string_converted
FROM SQL_TABLES.DATA.REVENUE_SAMPLE"""

cursor.execute(table_query)
result = cursor.fetchall()

headers = ["raw_column", "NonNumericPart", "sepcific_string_converted"]
print(tabulate(result, headers=headers, tablefmt="grid"))

cursor.close()
conn.close()

## eg - replace k with 000, else leave everything (k with will replaced with 000 irrespective of position)

+----------------+------------------+-----------------------------+
| raw_column     | NonNumericPart   | sepcific_string_converted   |
+================+==================+=============================+
| 111.12345      |                  | 111.12345                   |
+----------------+------------------+-----------------------------+
| $52            | $                | $52                         |
+----------------+------------------+-----------------------------+
| $188           | $                | $188                        |
+----------------+------------------+-----------------------------+
| $177           | $                | $177                        |
+----------------+------------------+-----------------------------+
| 432.17egf16.17 | egf              | 432.17egf16.17              |
+----------------+------------------+-----------------------------+
| ($2)           | ($)              | ($2)                        |
+----------------+------------------+-----------------------------+
| 123rst12.12    | rst              | 123rst12.12                 |
+----------------+------------------+-----------------------------+
| /n             | /n               | /n                          |
+----------------+------------------+-----------------------------+
| /n             | /n               | /n                          |
+----------------+------------------+-----------------------------+
| $122           | $                | $122                        |
+----------------+------------------+-----------------------------+
| $211           | $                | $211                        |
+----------------+------------------+-----------------------------+
| /NN/           | /NN/             | /NN/                        |
+----------------+------------------+-----------------------------+
| /N/            | /N/              | /N/                         |
+----------------+------------------+-----------------------------+
| //n            | //n              | //n                         |
+----------------+------------------+-----------------------------+
| $666           | $                | $666                        |
+----------------+------------------+-----------------------------+
| ($2)           | ($)              | ($2)                        |
+----------------+------------------+-----------------------------+
| 5k             | k                | 5000                        |
+----------------+------------------+-----------------------------+
| ($444)         | ($)              | ($444)                      |
+----------------+------------------+-----------------------------+
| $333           | $                | $333                        |
+----------------+------------------+-----------------------------+
| $222           | $                | $222                        |
+----------------+------------------+-----------------------------+
| /n             | /n               | /n                          |
+----------------+------------------+-----------------------------+
| 9.09           |                  | 9.09                        |
+----------------+------------------+-----------------------------+
| abc            | abc              | abc                         |
+----------------+------------------+-----------------------------+
| 7              |                  | 7                           |
+----------------+------------------+-----------------------------+
| ($6)           | ($)              | ($6)                        |
+----------------+------------------+-----------------------------+
| ($2)           | ($)              | ($2)                        |
+----------------+------------------+-----------------------------+
| 5              |                  | 5                           |
+----------------+------------------+-----------------------------+
| 4              |                  | 4                           |
+----------------+------------------+-----------------------------+
| 3              |                  | 3                           |
+----------------+------------------+-----------------------------+
| 2              |                  | 2                           |
+----------------+------------------+-----------------------------+

### 7.3. sepcial conversions like ($2) to -$2

In [369]:
import snowflake.connector
from tabulate import tabulate

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

cursor = conn.cursor()

table_query = f""" 
SELECT
  REVENUEDETAILS_REVENUE,
  REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[0-9.]', '') AS NonNumericPart,
  CASE 
    WHEN REVENUEDETAILS_REVENUE LIKE '(%' AND REVENUEDETAILS_REVENUE LIKE '%)' THEN '-' || SUBSTRING(REVENUEDETAILS_REVENUE, 2, LENGTH(REVENUEDETAILS_REVENUE) - 2)
    ELSE REVENUEDETAILS_REVENUE
  END AS new_column_except_brackets
FROM SQL_TABLES.DATA.REVENUE_SAMPLE
"""

cursor.execute(table_query)
result = cursor.fetchall()

headers = ["raw_column", "NonNumericPart", "new_column_except_brackets", "sepcific_string_converted"]
# print(result)
print(tabulate(result, headers=headers, tablefmt="grid"))

cursor.close()
conn.close()

+----------------+------------------+------------------------------+
| raw_column     | NonNumericPart   | new_column_except_brackets   |
+================+==================+==============================+
| 111.12345      |                  | 111.12345                    |
+----------------+------------------+------------------------------+
| $52            | $                | $52                          |
+----------------+------------------+------------------------------+
| $188           | $                | $188                         |
+----------------+------------------+------------------------------+
| $177           | $                | $177                         |
+----------------+------------------+------------------------------+
| 432.17egf16.17 | egf              | 432.17egf16.17               |
+----------------+------------------+------------------------------+
| ($2)           | ($)              | -$2                          |
+----------------+------------------+------------------------------+
| 123rst12.12    | rst              | 123rst12.12                  |
+----------------+------------------+------------------------------+
| /n             | /n               | /n                           |
+----------------+------------------+------------------------------+
| /n             | /n               | /n                           |
+----------------+------------------+------------------------------+
| $122           | $                | $122                         |
+----------------+------------------+------------------------------+
| $211           | $                | $211                         |
+----------------+------------------+------------------------------+
| /NN/           | /NN/             | /NN/                         |
+----------------+------------------+------------------------------+
| /N/            | /N/              | /N/                          |
+----------------+------------------+------------------------------+
| //n            | //n              | //n                          |
+----------------+------------------+------------------------------+
| $666           | $                | $666                         |
+----------------+------------------+------------------------------+
| ($2)           | ($)              | -$2                          |
+----------------+------------------+------------------------------+
| 5k             | k                | 5k                           |
+----------------+------------------+------------------------------+
| ($444)         | ($)              | -$444                        |
+----------------+------------------+------------------------------+
| $333           | $                | $333                         |
+----------------+------------------+------------------------------+
| $222           | $                | $222                         |
+----------------+------------------+------------------------------+
| /n             | /n               | /n                           |
+----------------+------------------+------------------------------+
| 9.09           |                  | 9.09                         |
+----------------+------------------+------------------------------+
| abc            | abc              | abc                          |
+----------------+------------------+------------------------------+
| 7              |                  | 7                            |
+----------------+------------------+------------------------------+
| ($6)           | ($)              | -$6                          |
+----------------+------------------+------------------------------+
| ($2)           | ($)              | -$2                          |
+----------------+------------------+------------------------------+
| 5              |                  | 5                            |
+----------------+------------------+------------------------------+
| k4             | k                | k4                           |
+----------------+------------------+------------------------------+
| 3              |                  | 3                            |
+----------------+------------------+------------------------------+
| 2              |                  | 2                            |
+----------------+------------------+------------------------------+

## 8. Sample suggetions - smart

### 8.1 with gemeni

In [10]:
from langchain.llms import GooglePalm
import google.generativeai as genai
import langchain 
from langchain.globals import set_debug
from langchain.globals import set_verbose
import json
from datetime import datetime, date
import snowflake.connector

langchain.verbose = False
langchain.debug = False
set_debug(False)
set_verbose(False)


## 2. API & LLM Model(with gemini pro)  
genai.configure(api_key="AIzaSyB-Ue-f2l-KuRXlX24_sVBfBXKHgJP33gM")

generation_config = {
  "temperature": 0.1,
  "top_p": 1,
  "top_k": 1
}

model = genai.GenerativeModel(model_name="gemini-pro",
                              generation_config=generation_config)

In [6]:
file_path = 'cleanup.txt'
with open(file_path, 'r') as file:
    table_names = [line.strip() for line in file]
    
print(table_names)

['$222', '$122', '$211', '$188', '$177', '($6)', '($444)', '($2)', '//n', '/N/', '/NN/', '/n', 'abc', '432.17egf16.17', '123rst12.12']

In [9]:
## Billing
prompt = f"""
I want to make a bot which says which is dirty data to be a revenue field

I have values in '''{table_names}'''

Group data as per simillarities 
"""

response = model.generate_content(prompt)
print(response.text)

1. **Currency Symbols:**
   - '$222', '$122', '$211', '$188', '$177'

2. **Negative Values:**
   - '($6)', '($444)', '($2)'

3. **Special Characters:**
   - '//n', '/N/', '/NN/', '/n'

4. **Non-Numeric Characters:**
   - 'abc', '432.17egf16.17', '123rst12.12'

The revenue field should only contain numeric values, so all the data in groups 2, 3, and 4 can be considered dirty data.

### 8.2 with GPT when no catagory cleaning

In [8]:
import snowflake.connector
from tabulate import tabulate

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

cursor = conn.cursor()
table_query = f""" SELECT  NONNUMERICPART as remove_this_part, REVENUEDETAILS_REVENUE as sample_records, NumericPart as after_conversion
FROM (
SELECT *
		,row_number() OVER (PARTITION BY NonNumericPart ORDER BY to_be_changed) AS sample_count_filter
		,row_number() OVER (PARTITION BY NonNumericPart,to_be_changed ORDER BY to_be_changed) AS unique_sample_count_filter
FROM (
	SELECT
	  REVENUEDETAILS_REVENUE,
	  CASE WHEN TRY_CAST(REVENUEDETAILS_REVENUE AS NUMBER) IS NULL THEN 'yes' ELSE 'no' END AS change_required,
	  TRY_CAST(REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[^0-9.]', '') AS DECIMAL(18,4)) AS NumericPart,
	  REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[0-9.]', '') AS NonNumericPart,
	  CASE WHEN TRY_CAST(REVENUEDETAILS_REVENUE AS NUMBER) IS NULL THEN REVENUEDETAILS_REVENUE ELSE null END AS to_be_changed
	FROM SQL_TABLES.DATA.REVENUE_SAMPLE
	)
)
WHERE TO_BE_CHANGED is NOT null and 
sample_count_filter <= 5 AND 
unique_sample_count_filter = 1 """

cursor.execute(table_query)
result = cursor.fetchall()

cursor.close()
conn.close()


data_list = [row[1] for row in result] 
print(data_list)

['/N/', 'abc', '$222', '123rst12.12', '5k', '/NN/', '$122', '$211', '$188', '($6)', '($444)', 'k4', '//n', '$177', '/n', '432.17egf16.17', '($2)']

In [17]:
from langchain.llms import OpenAI
import openai
import os

# os.environ["OPENAI_API_KEY"] = "abc-xyz12"
openai.api_key = "abc-xyz12"



# def get_completion(prompt, model="text-davinci-003"):
#     response = openai.Completion.create(
#         engine=model,
#         prompt=prompt,
#         temperature=0.2,
#         max_tokens=150
#     )
    # return response.choices[0].text.strip()

def get_completion(prompt, model="gpt-4",seed: int = None):
    messages = [{"role": "system", "content": prompt}]
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        temperature=0.3, 
        seed=seed,
        # response_format={ "type": "json_object" }
    )
    return response.choices[0].message["content"]

In [16]:
## Billing
prompt = f"""
I want to make a bot which says which says to user which is dirty data to be converted into revenue field.
All dirty data would be not of same type, so different actions has to be taken. so Group data as per simillarities.

Simillar groups would be based on Positive Values, Negative Values, Empty Values, String Values, Mixed Values, k based value & others

1. Positive Values - consist of numeric value with a currency symbol
2. Negative Values
3. Empty Values - contains symbol data
4. String Values - contains non numeric data
5. Mixed Values - consists of both numeric & non numertic data
6. k based value - Values beginning with a any number and ending with k (e.g., 900k, 123k, 55k)
7. others - If you are not able to group based on simillaraties then add it in others

I have values in [{data_list}]. 
 
Give Output in json format   

"""

response = get_completion(prompt)
print(response)

{
    "Positive Values": ["$222", "$122", "$211", "$188", "$177"],
    "Negative Values": ["($6)", "($444)", "($2)"],
    "Empty Values": ["/N/", "/NN/", "//n", "/n"],
    "String Values": ["abc"],
    "Mixed Values": ["123rst12.12", "432.17egf16.17"],
    "k based value": ["5k"],
    "others": ["k4"]
}

In [18]:
import json
import pandas as pd

json_data = json.loads(response)

headers = ["Category", "Values"]
rows = []

for category, values in json_data.items():
    values_subset = values[:5]

    for value in values_subset:
        rows.append([category, value])

df = pd.DataFrame(rows, columns=headers)

print(df)

           Category          Values
0   Positive Values            $222
1   Positive Values            $122
2   Positive Values            $211
3   Positive Values            $188
4   Positive Values            $177
5   Negative Values            ($6)
6   Negative Values          ($444)
7   Negative Values            ($2)
8      Empty Values             /N/
9      Empty Values            /NN/
10     Empty Values             //n
11     Empty Values              /n
12    String Values             abc
13     Mixed Values     123rst12.12
14     Mixed Values  432.17egf16.17
15    k based value              5k
16           others              k4

### 8.3 with GPT with catagory cleaning

In [50]:
import snowflake.connector
from tabulate import tabulate

snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

cursor = conn.cursor()
table_query = f""" SELECT  DISTINCT REVENUEDETAILS_REVENUE 
FROM (
	SELECT
	  REVENUEDETAILS_REVENUE,
	  REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[0-9.]', '') AS NonNumericPart,
	  CASE WHEN TRY_CAST(REVENUEDETAILS_REVENUE AS NUMBER) IS NULL THEN REVENUEDETAILS_REVENUE ELSE null END AS to_be_changed
	FROM SQL_TABLES.DATA.REVENUE_SAMPLE
	)
WHERE TO_BE_CHANGED is NOT null  """

cursor.execute(table_query)
result = cursor.fetchall()

cursor.close()
conn.close()


data_list = [row[0] for row in result] 
print(data_list)

['$52', '$188', '$177', '432.17egf16.17', '($2)', '123rst12.12', '/n', '$122', '/NN/', '//n', '$666', '5k', '($444)', '$333', '-$222', 'k4', '$211', '($6)', '/N/', 'abc']

In [51]:
from langchain.llms import OpenAI
import openai
import os

openai.api_key = "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"

def get_completion(prompt, model="gpt-4",seed: int = None):
    messages = [{"role": "system", "content": prompt}]
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        temperature=0.3, 
        seed=seed,
        # response_format={ "type": "json_object" }
    )
    return response.choices[0].message["content"]

In [52]:
## Billing
prompt = f"""
I want to make a bot which says which says to user which is dirty data to be converted into revenue field.
All dirty data would be not of same type, so different actions has to be taken. so Group data as per simillarities.

Simillar groups would be based on Positive Values, Negative Values, Empty Values, String Values, Mixed Values, k based value & others

1. Positive Values - consist of numeric value with a currency symbol
2. Negative Values
3. Empty Values - contains symbol data
4. String Values - contains non numeric data
5. Mixed Values - consists of both numeric & non numertic data
6. k based value - Values beginning with a any number and ending with k (e.g., 900k, 123k, 55k)
7. others - If you are not able to group based on simillaraties then add it in others

I have values in [{data_list}]. 
 
Give Output in json format   

"""

response = get_completion(prompt)
print(response)

{
  "Positive Values": ["$52", "$188", "$177", "$122", "$666", "$333", "$211"],
  "Negative Values": ["($2)", "($444)", "($6)", "-$222"],
  "Empty Values": ["/n", "/NN/", "//n", "/N/"],
  "String Values": ["abc"],
  "Mixed Values": ["432.17egf16.17", "123rst12.12"],
  "k based value": ["5k"],
  "others": ["k4"]
}

In [53]:
## show only 5 per catagory

import json
import pandas as pd

json_data = json.loads(response)

headers = ["Category", "Values"]
rows = []

for category, values in json_data.items():
    values_subset = values[:5]

    for value in values_subset:
        rows.append([category, value])

df_5 = pd.DataFrame(rows, columns=headers)

print(df_5)

           Category          Values
0   Positive Values             $52
1   Positive Values            $188
2   Positive Values            $177
3   Positive Values            $122
4   Positive Values            $666
5   Negative Values            ($2)
6   Negative Values          ($444)
7   Negative Values            ($6)
8   Negative Values           -$222
9      Empty Values              /n
10     Empty Values            /NN/
11     Empty Values             //n
12     Empty Values             /N/
13    String Values             abc
14     Mixed Values  432.17egf16.17
15     Mixed Values     123rst12.12
16    k based value              5k
17           others              k4

In [54]:
import json
import pandas as pd

json_data = json.loads(response)

headers = ["Category", "Values"]
rows = []

for category, values in json_data.items():
    values_subset = values[:]

    for value in values_subset:
        rows.append([category, value])

df = pd.DataFrame(rows, columns=headers)

print(df)

           Category          Values
0   Positive Values             $52
1   Positive Values            $188
2   Positive Values            $177
3   Positive Values            $122
4   Positive Values            $666
5   Positive Values            $333
6   Positive Values            $211
7   Negative Values            ($2)
8   Negative Values          ($444)
9   Negative Values            ($6)
10  Negative Values           -$222
11     Empty Values              /n
12     Empty Values            /NN/
13     Empty Values             //n
14     Empty Values             /N/
15    String Values             abc
16     Mixed Values  432.17egf16.17
17     Mixed Values     123rst12.12
18    k based value              5k
19           others              k4

In [55]:
## 9. If cleaning based on specific Catagory for Smart suggetions

In [56]:
import snowflake.connector
import pandas as pd

# Your Snowflake connection parameters
snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

# Connect to Snowflake
conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

drop_table_query = """
DROP TABLE IF EXISTS DATA.REVENUE_SUGGESTIONS;
"""

cursor = conn.cursor()
cursor.execute(drop_table_query)

# Your SQL query
specific_string = "$"
table_query = f"""
SELECT
  REVENUEDETAILS_REVENUE
FROM SQL_TABLES.DATA.REVENUE_SAMPLE
"""

cursor = conn.cursor()
cursor.execute(table_query)
result = cursor.fetchall()

df_revenue_sample = pd.DataFrame(result, columns=["REVENUEDETAILS_REVENUE"])

result_df = pd.merge(df, df_revenue_sample, how='inner', left_on='Values', right_on='REVENUEDETAILS_REVENUE')

# Drop duplicates based on the 'REVENUEDETAILS_REVENUE' column
result_df = result_df.drop_duplicates(subset=['REVENUEDETAILS_REVENUE'])

# Creating the table
create_table_query = """
CREATE TABLE IF NOT EXISTS DATA.REVENUE_SUGGESTIONS (
    CATEGORY STRING,
    raw_revenue_data STRING
);
"""

cursor.execute(create_table_query)

# Inserting data into the table
for index, row in result_df.iterrows():
    insert_query = f"""
    INSERT INTO DATA.REVENUE_SUGGESTIONS (CATEGORY, raw_revenue_data)
    VALUES ('{row['Category']}', '{row['REVENUEDETAILS_REVENUE']}');
    """
    cursor.execute(insert_query)

# No need for cursor.commit() here

cursor.close()
conn.close()

In [60]:
import snowflake.connector
import pandas as pd
from tabulate import tabulate

# Your Snowflake connection parameters
snowflake_account = 'test123'
snowflake_user = 'TUSHAR'
snowflake_password = 'Tu@123'
snowflake_warehouse = 'WH'
snowflake_database = 'SQL_TABLES'
snowflake_schema = 'DATA'

# Connect to Snowflake
conn = snowflake.connector.connect(
    user=snowflake_user,
    password=snowflake_password,
    account=snowflake_account,
    warehouse=snowflake_warehouse,
    database=snowflake_database,
    schema=snowflake_schema
)

cursor = conn.cursor()

CATEGORY = 'Empty Values'

if CATEGORY == 'Positive Values':
    table_query = f"""
        SELECT *
         ,case when CATEGORY = 'Positive Values' 
         	then TRY_CAST(REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[^0-9.]', '') AS DECIMAL(18,4))::varchar
                    ELSE REVENUEDETAILS_REVENUE
                END AS new_column
    from (
        SELECT CATEGORY, REVENUEDETAILS_REVENUE
        FROM SQL_TABLES.DATA.REVENUE_SAMPLE a
        LEFT JOIN SQL_TABLES.DATA.REVENUE_SUGGESTIONS b
        ON a.REVENUEDETAILS_REVENUE = b.raw_revenue_data
  )
    """

    cursor.execute(table_query)
    result = cursor.fetchall()
    
    print(result)
    
    
if CATEGORY == 'Negative Values':
    table_query = f"""
            SELECT *
         ,case when CATEGORY = 'Negative Values' 
         	then '-' || TRY_CAST(REGEXP_REPLACE(REVENUEDETAILS_REVENUE, '[^0-9.]', '') AS DECIMAL(18,4))::varchar
                    ELSE REVENUEDETAILS_REVENUE
                END AS new_column
    from (
        SELECT CATEGORY, REVENUEDETAILS_REVENUE
        FROM SQL_TABLES.DATA.REVENUE_SAMPLE a
        LEFT JOIN SQL_TABLES.DATA.REVENUE_SUGGESTIONS b
        ON a.REVENUEDETAILS_REVENUE = b.raw_revenue_data
  )
    """

    cursor.execute(table_query)
    result = cursor.fetchall()
    
    print(result)
    
    
if CATEGORY in ('Mixed Values','Empty Values','String Values','others'):
    table_query = f"""
            SELECT *
                 ,case when CATEGORY = 'Mixed Values' then 'input here'
                    ELSE REVENUEDETAILS_REVENUE
                END AS new_column
            from (
                SELECT CATEGORY, REVENUEDETAILS_REVENUE
                FROM SQL_TABLES.DATA.REVENUE_SAMPLE a
                LEFT JOIN SQL_TABLES.DATA.REVENUE_SUGGESTIONS b
                ON a.REVENUEDETAILS_REVENUE = b.raw_revenue_data
            )
    """

    cursor.execute(table_query)
    result = cursor.fetchall()
    
    print(result)


if CATEGORY == 'k based value':
    table_query = f"""
            SELECT *
                 ,case when CATEGORY = 'k based value' then REPLACE(REVENUEDETAILS_REVENUE, 'k', '000')
                    ELSE REVENUEDETAILS_REVENUE
                END AS new_column
            from (
                SELECT CATEGORY, REVENUEDETAILS_REVENUE
                FROM SQL_TABLES.DATA.REVENUE_SAMPLE a
                LEFT JOIN SQL_TABLES.DATA.REVENUE_SUGGESTIONS b
                ON a.REVENUEDETAILS_REVENUE = b.raw_revenue_data
            )
    """

    cursor.execute(table_query)
    result = cursor.fetchall()
    
    print(result)
    
    
cursor.close()
conn.close()

[(None, '111.12345', '111.12345'), ('Positive Values', '$52', '$52'), ('Positive Values', '$188', '$188'), ('Positive Values', '$177', '$177'), ('Mixed Values', '432.17egf16.17', 'input here'), ('Negative Values', '($2)', '($2)'), ('Mixed Values', '123rst12.12', 'input here'), ('Empty Values', '/n', '/n'), ('Empty Values', '/n', '/n'), ('Positive Values', '$122', '$122'), ('Positive Values', '$211', '$211'), ('Empty Values', '/NN/', '/NN/'), ('Empty Values', '/N/', '/N/'), ('Empty Values', '//n', '//n'), ('Positive Values', '$666', '$666'), ('Negative Values', '($2)', '($2)'), ('k based value', '5k', '5k'), ('Negative Values', '($444)', '($444)'), ('Positive Values', '$333', '$333'), ('Negative Values', '-$222', '-$222'), ('Empty Values', '/n', '/n'), (None, '9.09', '9.09'), ('String Values', 'abc', 'abc'), (None, '7', '7'), ('Negative Values', '($6)', '($6)'), ('Negative Values', '($2)', '($2)'), (None, '5', '5'), ('others', 'k4', 'k4'), (None, '3', '3'), (None, '2', '2')]

## 10 requinment - Replace in between string character